# machine-name.conf

_hostname="mymachine"
_domain="mydomain"
_ipAddress="127.0.0.1"

_nfsServerAddress="127.0.0.1"
_bootNetworkInterface="iface0"

_downloadMirror="http://openbsd-mirror.domain.tld/path/to/openbsd/"
_openBsdVersion="5.6"
_openBsdPlatform="platform"

_basePath="/srv/nfs/openbsd/${_openBsdVersion}/${_openBsdPlatform}/${_hostname}"

_additionalSetsToDownload="man"

_kernelToUse="kernel"
